<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Product Review Analysis</title>
</head>

<body>
    <h1>Amazon Product Review Analysis</h1>
    <form action="/" method="post">
        <label for="url">Enter Amazon Product URL:</label><br>
        <input type="text" id="url" name="url" required><br>
        <input type="submit" value="Analyze">
    </form>

    {% if sentiment %}
    <h2>Analysis Result:</h2>
    <p>{{ sentiment }}</p>
    {% endif %}
</body>

</html>